{% extends '::base.html.twig' %}

{% block title %}Qb Blog{% endblock %}

{% block body %}
    <h1>Qb Blog</h1>
    <div id="wrapper">
        {% block qb_blog_body %}{% endblock %}
        <aside>
            <h1>Category</h1>
            {% render 'QbBlogBundle:Frontend\\Category:list' %}
            <h1>Tag</h1>
            {% render 'QbBlogBundle:Frontend\\Tag:list' %}
        </aside>
    </div>
    <footer>
        <p>&copy; Qb Blog {{ "now"|date('Y') }}</p>
    </footer>
{% endblock %}
