<?xml version="1.0" encoding="UTF-8" ?>

<container xmlns="http://symfony.com/schema/dic/services"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">

    <parameters>
        <parameter key="qb_blog.listener.post_blamer.class">Qb\Bundle\BlogBundle\EventListener\PostBlamerListener</parameter>
    </parameters>

    <services>
        <service id="qb_blog.listener.post_blamer" class="%qb_blog.listener.post_blamer.class%">
            <argument type="service" id="security.context" />
            <tag name="kernel.event_subscriber" />
        </service>
    </services>
</container>
