<ul>
{% for category in categories %}
    <li><a href="{{ path('qb_blog_frontend_category_show', { 'slug': category.slug }) }}">{{ category }} ({{ category.posts|length }})</a></li>
{% else %}
    <li>There are no categories.</li>
{% endfor %}
</ul>
