{% extends 'QbBlogBundle::Backend\\layout.html.twig' %}

{% block title %}Category edit - {{ parent() }}{% endblock %}

{% block qb_blog_body %}
    <h1>Category edit</h1>
    <form action="{{ path('qb_blog_backend_category_edit', { 'id': category.id }) }}" method="post" {{ form_enctype(form) }}>
        {{ form_widget(form) }}
        <input type="submit" />
    </form>
{% endblock %}
